/* import google font - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@media (max-width: 1024px) {
    .imageDetails {
        display: none;
    }

    #unsplashImage {
        display: none;
    }

    .wrapper {
        top: 120px !important;
        left: 210px !important;
        /* bottom: 0px; */
        position: relative;
    }
}

@media (max-width: 992px) {
    .wrapper {
        top: 280px !important;
        left: 200px !important;
        /* bottom: 0px; */
        position: relative;
    }
}

@media (max-width: 768px) {
    .wrapper {
        top: 280px !important;
        left: 85px !important;
    }
}

@media (max-width: 768px) {
    .wrapper {
        top: 280px !important;
        left: 85px !important;
    }
}

@media (max-width: 480px) {
    .wrapper {
        top: 250px !important;
        left: 40px !important;
        width: 400px !important;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #5372f0;
    /* flex-direction: column; */
}

#unsplashImage {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.imageDetails {
    background-color: black;
    top: 930px;
    left: 1500px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
    position: absolute;
  }

.imageDetails a {
    color: #FFF;
}

/* .container {
    display: block;
} */

.wrapper {
    top: 320px;
    left: 650px;
    /* bottom: 0px; */
    width: 605px;
    background: white;
    border-radius: 15px;
    padding: 30px 30px 25px;
    position: absolute;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area i {
    font-size: 15px;
}

/* :first-child selector targets the first element inside another element */
/* first icon */
.quote-area i:first-child {
    margin: 3px 10px 0 0;
}

/* last element among a group of sibling elements */
/* second icon */
.quote-area i:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.content .author {
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    justify-content: flex-end;
}

.author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    border-top: 1px solid #ccc;
}

.buttons .features {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.features ul {
    display: flex;
}

.features ul li {
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    cursor: pointer;
    color: #5372f0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #5372f0;
    transition: all 0.3s ease;
}

.features ul li:hover {
    /* color: white; */
    background: #DEDEDE;
}

.features button {
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-style: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: #5372f0;
}

button.loading {
    opacity: 0.7;
    pointer-events: none;
}